.styleButton {
  min-width: 168px;
  height: 41px;
  background: #4ba87d;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.4s;

  &:hover {
    filter: brightness(0.9);
  }
}

@media screen and (max-width: 1024px) {
  .styleButton {
    min-width: 110px;
    height: 25px;
  }
}
