.styleButton {
  min-width: 168px;
  max-width: 221px;
  height: 41px;
  background: #4ba87d;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.4s;
  text-transform: uppercase;

  &:hover {
    filter: brightness(0.9);
  }
}

@media screen and (max-width: 1024px) {
  .styleButton {
    min-width: 110px;
    height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin: 0 auto;
  }

  .styleButton {
    min-width: 65px;
    height: 21px;
  }
}
